/* Basic reset for padding and margins */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Center content */
body {
    display: flex;
    justify-content: center;
    
    height: 100vh;
    background-color: #f2f2f2;
}

/* Header styling */
h1 {
    font-size: 24px;
    color: #333;
    text-align: left;
    margin-bottom: 600px;
    margin-left: 0;
}

/* Form container styling */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 0;       /* Remove any left margin */
    margin-right: auto; 
}

/* Label styling */
label {
    font-weight: bold;
    font-size: 14px;url(style.css)
    color: #555;
}

/* Input styling */
input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Button styling */
button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Prediction message styling */
h2 {
    text-align: left;
    color: #333;
    margin-top: 700px;
    margin-right: 800px;
}
